<?xml version="1.0"?>
<config>
    <modules>
        <SM_Visitor>
            <version>0.1.0</version>
        </SM_Visitor>
    </modules>
    <global>
        <blocks>
            <sm_visitor>
                <class>SM_Visitor_Block</class>
            </sm_visitor>
        </blocks>
        <models>
            <sm_visitor>
                <class>SM_Visitor_Model</class>
                <resourceModel>sm_visitor_resource</resourceModel>
            </sm_visitor>
            <sm_visitor_resource>
                <class>SM_Visitor_Model_Resource</class>
                <entities>
                    <count>
                        <table>visitors_count</table>
                    </count>
                </entities>
            </sm_visitor_resource>
        </models>
        <resources>
            <sm_visitor_setup>
                <setup>
                    <module>SM_Visitor</module>
                </setup>
            </sm_visitor_setup>
            <sm_visitor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_visitor_write>
            <sm_visitor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_visitor_read>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <update_count_visitors>
                        <class>SM_Visitor_Model_Observer</class>
                        <method>updateCount</method>
                    </update_count_visitors>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>